*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

:root{
     --clr-first-main:     #3a4764  ;
     --clr-first-key:      #232c43  ;
     --clr-first-screen:   #182034  ;
     --clr-first-del:      #637097  ;
     --clr-first-delshadow:#404e72  ;
     --clr-first-red:      #d03f2f  ;  
     --clr-first-redshadow:#93261a  ;    
     --clr-first-back:     #eae3dc  ;
     --clr-first-delactive:#b4a597  ;
     --clr-first-text:     #000     ;
     --clr-first:          #ffffff  ;

     --b: 3px solid white;


}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--clr-first-main);
}


.container{
  position: relative;
  padding: 2em;
  width: 50em;
  height: 55em;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1{
  font-size:3em;
  color: var(--clr-first);
  cursor: pointer;
}

.screen-2{
  display: flex;
  align-items: center;
  gap: 2em;
  cursor: pointer;
}

h2{
  color: var(--clr-first);
  font-size: 1.5em;
  margin-top: 1em;
  cursor: pointer;
}

.theme-number label{
  color: var(--clr-first);
  margin: 0.9em;
  cursor: pointer;
}

.theme-choice{
  border-radius: 1em;
  background-color: var(--clr-first-key);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 2em;
  cursor: pointer;
}
.theme-choice input{
  
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
  width: 1em;
  height: 1em;

  border-radius: 50%;
  transition: 1s;

  cursor: pointer;
}

#themechoice1:checked{
  background: hsl(6, 63%, 50%);
}
#themechoice2:checked{
  background: hsl(25, 98%, 40%);
}
#themechoice3:checked{
  background: hsl(176, 100%, 44%);
}

.screen{
  cursor: none;
  margin-top: 0.2em;
  width: 100%;
  height: 2em;
  background-color: var(--clr-first-screen);
  border: none;
  border-radius: 0.2em;
  text-align: right;
  color: var(--clr-first);
  font-size: 5em;
  font-weight: 600;
  padding-right: 0.3em;
}

.keyboard {
  font-size: 2em;
  height: 17em;
  text-align: center;
  margin-top: 1em;
  background-color: var(--clr-first-key);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  padding: 1em;
  border-radius: 0.5em;
  cursor: pointer;
  }
  
  .div1  {cursor: pointer; box-shadow: 0px 0.25em 0px var(--clr-first-delactive); display: flex; justify-content: center; align-items: center; border-radius: 0.3em; background-color: var(--clr-first-back); grid-area: 1 / 1 / 2 / 2; color: var(--clr-first-text);}
  .div2  {cursor: pointer; box-shadow: 0px 0.25em 0px var(--clr-first-delactive); display: flex; justify-content: center; align-items: center; border-radius: 0.3em; background-color: var(--clr-first-back); grid-area: 1 / 2 / 2 / 3; color: var(--clr-first-text);}
  .div3  {cursor: pointer; box-shadow: 0px 0.25em 0px var(--clr-first-delactive); display: flex; justify-content: center; align-items: center; border-radius: 0.3em; background-color: var(--clr-first-back); grid-area: 1 / 3 / 2 / 4; color: var(--clr-first-text);}
  .div4  {cursor: pointer; box-shadow: 0px 0.25em 0px var(--clr-first-delshadow); display: flex; justify-content: center; align-items: center; border-radius: 0.3em; background-color: var(--clr-first-del); grid-area: 1 / 4 / 2 / 5; color: var(--clr-first); }
  .div5  {cursor: pointer; box-shadow: 0px 0.25em 0px var(--clr-first-delactive); display: flex; justify-content: center; align-items: center; border-radius: 0.3em; background-color: var(--clr-first-back); grid-area: 2 / 1 / 3 / 2; color: var(--clr-first-text);}
  .div6  {cursor: pointer; box-shadow: 0px 0.25em 0px var(--clr-first-delactive); display: flex; justify-content: center; align-items: center; border-radius: 0.3em; background-color: var(--clr-first-back); grid-area: 2 / 2 / 3 / 3; color: var(--clr-first-text);}
  .div7  {cursor: pointer; box-shadow: 0px 0.25em 0px var(--clr-first-delactive); display: flex; justify-content: center; align-items: center; border-radius: 0.3em; background-color: var(--clr-first-back); grid-area: 2 / 3 / 3 / 4; color: var(--clr-first-text);}
  .div8  {cursor: pointer; box-shadow: 0px 0.25em 0px var(--clr-first-delactive); display: flex; justify-content: center; align-items: center; border-radius: 0.3em; background-color: var(--clr-first-back); grid-area: 2 / 4 / 3 / 5; color: var(--clr-first-text);}
  .div9  {cursor: pointer; box-shadow: 0px 0.25em 0px var(--clr-first-delactive); display: flex; justify-content: center; align-items: center; border-radius: 0.3em; background-color: var(--clr-first-back); grid-area: 3 / 1 / 4 / 2; color: var(--clr-first-text);}
  .div10 {cursor: pointer; box-shadow: 0px 0.25em 0px var(--clr-first-delactive); display: flex; justify-content: center; align-items: center; border-radius: 0.3em; background-color: var(--clr-first-back); grid-area: 3 / 2 / 4 / 3; color: var(--clr-first-text);}
  .div11 {cursor: pointer; box-shadow: 0px 0.25em 0px var(--clr-first-delactive); display: flex; justify-content: center; align-items: center; border-radius: 0.3em; background-color: var(--clr-first-back); grid-area: 3 / 3 / 4 / 4; color: var(--clr-first-text);}
  .div12 {cursor: pointer; box-shadow: 0px 0.25em 0px var(--clr-first-delactive); display: flex; justify-content: center; align-items: center; border-radius: 0.3em; background-color: var(--clr-first-back); grid-area: 3 / 4 / 4 / 5; color: var(--clr-first-text);}
  .div13 {cursor: pointer; box-shadow: 0px 0.25em 0px var(--clr-first-delactive); display: flex; justify-content: center; align-items: center; border-radius: 0.3em; background-color: var(--clr-first-back); grid-area: 4 / 1 / 5 / 2; color: var(--clr-first-text);}
  .div14 {cursor: pointer; box-shadow: 0px 0.25em 0px var(--clr-first-delactive); display: flex; justify-content: center; align-items: center; border-radius: 0.3em; background-color: var(--clr-first-back); grid-area: 4 / 2 / 5 / 3; color: var(--clr-first-text);}
  .div15 {cursor: pointer; box-shadow: 0px 0.25em 0px var(--clr-first-delactive); display: flex; justify-content: center; align-items: center; border-radius: 0.3em; background-color: var(--clr-first-back); grid-area: 4 / 3 / 5 / 4; color: var(--clr-first-text);}
  .div16 {cursor: pointer; box-shadow: 0px 0.25em 0px var(--clr-first-delactive); display: flex; justify-content: center; align-items: center; border-radius: 0.3em; background-color: var(--clr-first-back); grid-area: 4 / 4 / 5 / 5; color: var(--clr-first-text);}
  .div17 {cursor: pointer; box-shadow: 0px 0.25em 0px var(--clr-first-delshadow); display: flex; justify-content: center; align-items: center; border-radius: 0.3em; background-color: var(--clr-first-del); grid-area: 5 / 1 / 6 / 3; color: var(--clr-first);}
  .div18 {cursor: pointer; box-shadow: 0px 0.25em 0px var(--clr-first-redshadow); display: flex; justify-content: center; align-items: center; border-radius: 0.3em; background-color: var(--clr-first-red); grid-area: 5 / 3 / 6 / 5; color: var(--clr-first);}

.keyboard div:active{
  position: relative;
  top: 0.25em;
  box-shadow: none;
}

.container p{
  color: var(--clr-first);
  font-size: 2em;
  position: absolute;
  top: 4em;
  left: 1.5em;
}


@media screen and (max-width: 500px) {
  .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
  }
  .keyboard{
    margin-top: 5%;
    height: 65%;
  }
  .keyboard div{
    height: 100%;
  }
  .screen{
    margin-top: 15%;
    font-size: 4em;
  }
} 




















































/*  */